<!--头部和主体-->
header {
        background-color:#fee362;
        color:black;
        text-align:left;
        margin:0;
        padding:20px;
        height:50px;
}
body{
        background-color:#fee362;
        text-align:center;
}

<!--导航栏样式-->
ul {
        list-style-type:none;
        margin:0;
        padding:0;
        padding-top:5px;
        padding-bottom:5px;
        background-color:#fee362;
}
ul.position {
        position:relative;
        left:150px;
        top:-100px;
}
li {
        display:inline;
}

<!--链接样式 选中效果 点击效果 移入效果-->
a:link,a:visited {
        color:black;
        text-align:left;
        padding:6px;
        text-decoration:none;
}
a:hover,a:active {
        color:white;
}

<!--文章主体的样式-->
.center {
        margin:auto;
        width:70%;
        background-color:white;
}
