header {
        background-color:#fee362;
        color:black;
        text-align:left;
        width:1008px;
        margin:0;
        padding:20px;
}
#section {
        width:400px;
        float:left;
        padding:10px;
}
body{
        background-color:#fee362
}
ul {
        list-style-type:none;
        margin:0;
        padding:0;
        padding-top:6px;
        padding-bottom:6px;
        background-color:#fee362
}
li {
        display:inline;
}  
a:link,a:visited {
        color:black;
        text-align:left;
        padding:6px;
        text-decoration:none;
}
a:hover,a:active {
        color:white;
}
}
.center {
        margin:auto;
        width:70%;
        background-color:white;
}
